{#
/**
 * @file booking_instance.html.twig
 * Default theme implementation to present Booking instance data.
 *
 * This template is used when viewing Booking instance pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_booking_instance()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('booking_instance') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
